<!-- begin Content -->
<section>
	
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div class="searchby boxes">
	<form class="form-inline pull-left">
		<h6>Search By:</h6>
		<div class="form-group">
			<label for="qs-operation" class="sr-only">Operation</label>
			<select class="form-control" id="qs-operation">
				<option>Operation</option>
				<option>Operation 1</option>
				<option>Operation 2</option>
			</select>
		</div>
		<div class="form-group">
			<label for="qs-property-type" class="sr-only">Property Type</label>
			<select class="form-control" id="qs-property-type">
				<option>Property Type</option>
				<option>Type 1</option>
				<option>Type 2</option>
			</select>
		</div>
		<div class="form-group">
			<label for="qs-location" class="sr-only">City</label>
			<select class="form-control" id="qs-location">
				<option>City</option>
				<option>City 1</option>
				<option>City 2</option>
			</select>
		</div>
		<div class="form-group">
			<label for="qs-price" class="sr-only">Price</label>
			<select class="form-control" id="qs-price">
				<option>Price</option>
				<option>Price 1</option>
				<option>Price 2</option>
			</select>
		</div>
		
		<button type="submit" class="btn btn-search">Most Popular</button>
	</form>
	<div class="clearfix visible-xs"></div>
	<div class="pull-right">
		<a href="#" class="btn btn-icon"><i class="icon-layout"></i></a>
		<a href="#" class="btn btn-icon"><i class="icon-list"></i></a>
		<a href="#" class="btn btn-icon"><i class="icon-menu"></i></a>
	</div>
</div>
		</div>
	</div>
	
	<div class="row">
		
		<div class="col-md-9 col-md-push-3 property-details big">
			<div class="property-details-item">
				<figure class="item-thumbnail">
					<img src="img/rent/details01.jpg" alt="//">
					<span class="overthumb"></span>
					<div class="icons"><a href="#"><i class="icon-plus"></i></a></div>
				</figure>

				<ul class="features">
					<li><span class="price">$ 250,000</span></li>
					<li><i class="icon-battery"></i> 1 Bathrooms</li>
					<li><i class="icon-keyboard"></i> 2 Bedrooms</li>
					<li><button class="btn btn-details">View Details</button></li>
				</ul>
				
				<h5>The Beatriche Loft</h5>
				<p class="subtitle"><i class="icon-location"></i> Miami, Florida, USA</p>
				<p>Ultra-luxe Penthouses with super dorem impsum in the dolor sit and amet. Consectur adipiscinit dolor sit amet, consectetur adipisicing elit. Laborum, quisquam, quae alias molestias suscipit dolor...</p>
			</div>

			<div class="property-details-item">
				<figure class="item-thumbnail">
					<img src="img/rent/details02.jpg" alt="//">
					<span class="overthumb"></span>
					<div class="icons"><a href="#"><i class="icon-plus"></i></a></div>
				</figure>

				<ul class="features">
					<li><span class="price">$ 250,000</span></li>
					<li><i class="icon-battery"></i> 1 Bathrooms</li>
					<li><i class="icon-keyboard"></i> 2 Bedrooms</li>
					<li><button class="btn btn-details">View Details</button></li>
				</ul>
				
				<h5>The Beatriche Loft</h5>
				<p class="subtitle"><i class="icon-location"></i> Miami, Florida, USA</p>
				<p>Ultra-luxe Penthouses with super dorem impsum in the dolor sit and amet. Consectur adipiscinit dolor sit amet, consectetur adipisicing elit. Laborum, quisquam, quae alias molestias suscipit dolor...</p>
			</div>

			<div class="property-details-item">
				<figure class="item-thumbnail">
					<img src="img/rent/details03.jpg" alt="//">
					<span class="overthumb"></span>
					<div class="icons"><a href="#"><i class="icon-plus"></i></a></div>
				</figure>

				<ul class="features">
					<li><span class="price">$ 250,000</span></li>
					<li><i class="icon-battery"></i> 1 Bathrooms</li>
					<li><i class="icon-keyboard"></i> 2 Bedrooms</li>
					<li><button class="btn btn-details">View Details</button></li>
				</ul>
				
				<h5>The Beatriche Loft</h5>
				<p class="subtitle"><i class="icon-location"></i> Miami, Florida, USA</p>
				<p>Ultra-luxe Penthouses with super dorem impsum in the dolor sit and amet. Consectur adipiscinit dolor sit amet, consectetur adipisicing elit. Laborum, quisquam, quae alias molestias suscipit dolor...</p>
			</div>

			<div class="property-details-item">
				<figure class="item-thumbnail">
					<img src="img/rent/details04.jpg" alt="//">
					<span class="overthumb"></span>
					<div class="icons"><a href="#"><i class="icon-plus"></i></a></div>
				</figure>

				<ul class="features">
					<li><span class="price">$ 250,000</span></li>
					<li><i class="icon-battery"></i> 1 Bathrooms</li>
					<li><i class="icon-keyboard"></i> 2 Bedrooms</li>
					<li><button class="btn btn-details">View Details</button></li>
				</ul>
				
				<h5>The Beatriche Loft</h5>
				<p class="subtitle"><i class="icon-location"></i> Miami, Florida, USA</p>
				<p>Ultra-luxe Penthouses with super dorem impsum in the dolor sit and amet. Consectur adipiscinit dolor sit amet, consectetur adipisicing elit. Laborum, quisquam, quae alias molestias suscipit dolor...</p>
			</div>

			<div class="property-details-item">
				<figure class="item-thumbnail">
					<img src="img/rent/details05.jpg" alt="//">
					<span class="overthumb"></span>
					<div class="icons"><a href="#"><i class="icon-plus"></i></a></div>
				</figure>

				<ul class="features">
					<li><span class="price">$ 250,000</span></li>
					<li><i class="icon-battery"></i> 1 Bathrooms</li>
					<li><i class="icon-keyboard"></i> 2 Bedrooms</li>
					<li><button class="btn btn-details">View Details</button></li>
				</ul>
				
				<h5>The Beatriche Loft</h5>
				<p class="subtitle"><i class="icon-location"></i> Miami, Florida, USA</p>
				<p>Ultra-luxe Penthouses with super dorem impsum in the dolor sit and amet. Consectur adipiscinit dolor sit amet, consectetur adipisicing elit. Laborum, quisquam, quae alias molestias suscipit dolor...</p>
			</div>

			<div class="property-details-item">
				<figure class="item-thumbnail">
					<img src="img/rent/details06.jpg" alt="//">
					<span class="overthumb"></span>
					<div class="icons"><a href="#"><i class="icon-plus"></i></a></div>
				</figure>

				<ul class="features">
					<li><span class="price">$ 250,000</span></li>
					<li><i class="icon-battery"></i> 1 Bathrooms</li>
					<li><i class="icon-keyboard"></i> 2 Bedrooms</li>
					<li><button class="btn btn-details">View Details</button></li>
				</ul>
				
				<h5>The Beatriche Loft</h5>
				<p class="subtitle"><i class="icon-location"></i> Miami, Florida, USA</p>
				<p>Ultra-luxe Penthouses with super dorem impsum in the dolor sit and amet. Consectur adipiscinit dolor sit amet, consectetur adipisicing elit. Laborum, quisquam, quae alias molestias suscipit dolor...</p>
			</div>

			<div class="property-details-item">
				<figure class="item-thumbnail">
					<img src="img/rent/details07.jpg" alt="//">
					<span class="overthumb"></span>
					<div class="icons"><a href="#"><i class="icon-plus"></i></a></div>
				</figure>

				<ul class="features">
					<li><span class="price">$ 250,000</span></li>
					<li><i class="icon-battery"></i> 1 Bathrooms</li>
					<li><i class="icon-keyboard"></i> 2 Bedrooms</li>
					<li><button class="btn btn-details">View Details</button></li>
				</ul>
				
				<h5>The Beatriche Loft</h5>
				<p class="subtitle"><i class="icon-location"></i> Miami, Florida, USA</p>
				<p>Ultra-luxe Penthouses with super dorem impsum in the dolor sit and amet. Consectur adipiscinit dolor sit amet, consectetur adipisicing elit. Laborum, quisquam, quae alias molestias suscipit dolor...</p>
			</div>

			<div class="clearfix"></div>
			<ul class="pagination">
	<li><a href="#"><i class="icon-left-open"></i></a></li>
	<li class="active"><a href="#">1</a></li>
	<li><a href="#">2</a></li>
	<li><a href="#">3</a></li>
	<li><a href="#">4</a></li>
	<li><a href="#">5</a></li>
	<li><a href="#">...</a></li>
	<li><a href="#">7</a></li>
	<li><a href="#">8</a></li>
	<li><a href="#">8</a></li>
	<li><a href="#"><i class="icon-right-open"></i></a></li>
</ul>
		</div>
		<aside class="col-md-3 col-md-pull-9">
			<form class="filters">
	
<div class="panel-group boxes" id="accordion">
	<div class="panel">
		<div class="panel-heading">
			<div class="boxes-title">
				<span><i class="icon-search"></i></span>
				<h4 class="panel-title">
					<a data-toggle="collapse" href="#collapsePrice">
						Price Rating <i class="icon-down-open-mini"></i>
					</a>
				</h4>
			</div>
		</div>
		<div id="collapsePrice" class="panel-collapse collapse in">
			<div class="panel-body">
				<div class="slider-range" id="slider-price">

					<input type="text" class="input_range min sr-only" value="20000">
					<input type="text" class="input_range max sr-only" value="90000">
					
					<div class="slider"></div>

					<span class="span_range min">$ 20000</span>
					<span class="span_range max">$ 90000</span>
				</div>

				<div class="clearfix"></div>
			</div>
		</div>
	</div>
	
	<div class="panel">
		<div class="panel-heading">
			<div class="boxes-title">
				<span><i class="icon-location"></i></span>
				<h4 class="panel-title">
					<a data-toggle="collapse" href="#collapseLocation">
						Location <i class="icon-down-open-mini"></i>
					</a>
				</h4>
			</div>
		</div>
		<div id="collapseLocation" class="panel-collapse collapse in">
			<div class="panel-body">
				<div class="checkbox"><label><input type="checkbox">Harlem <span>(342)</span></label></div>
				<div class="checkbox"><label><input type="checkbox">Hudston Heights <span>(342)</span></label></div>
				<div class="checkbox"><label><input type="checkbox">East Harlem <span>(342)</span></label></div>
				<div class="checkbox"><label><input type="checkbox">Harlem <span>(342)</span></label></div>
				<div class="checkbox"><label><input type="checkbox">Hudston Heights <span>(342)</span></label></div>
				<div class="checkbox"><label><input type="checkbox">East Harlem <span>(342)</span></label></div>
			</div>
		</div>
	</div>
	
	<div class="panel">
		<div class="panel-heading">
			<div class="boxes-title">
				<span><i class="icon-keyboard"></i></span>
				<h4 class="panel-title">
					<a data-toggle="collapse" href="#collapseBedrooms">
						Location <i class="icon-down-open-mini"></i>
					</a>
				</h4>
			</div>
		</div>
		<div id="collapseBedrooms" class="panel-collapse collapse in">
			<div class="panel-body">
				<div class="checkbox"><label><input type="checkbox">1 Bedrooms <span>(342)</span></label></div>
				<div class="checkbox"><label><input type="checkbox">2 Bedrooms <span>(342)</span></label></div>
				<div class="checkbox"><label><input type="checkbox">3 Bedrooms <span>(342)</span></label></div>
				<div class="checkbox"><label><input type="checkbox">4 Bedrooms <span>(342)</span></label></div>
				<div class="checkbox"><label><input type="checkbox">5 Bedrooms <span>(342)</span></label></div>
				<div class="checkbox"><label><input type="checkbox">More than 5 <span>(342)</span></label></div>
			</div>
		</div>
	</div>

	<div class="panel">
		<div class="panel-heading">
			<div class="boxes-title">
				<span><i class="icon-resize-full"></i></span>
				<h4 class="panel-title">
					<a data-toggle="collapse" href="#collapseMetters">
						Meters <i class="icon-down-open-mini"></i>
					</a>
				</h4>
			</div>
		</div>
		<div id="collapseMetters" class="panel-collapse collapse in">
			<div class="panel-body">
				<div class="checkbox"><label><input type="checkbox">100 sqft <span>(342)</span></label></div>
				<div class="checkbox"><label><input type="checkbox">500 <span>(342)</span></label></div>
				<div class="checkbox"><label><input type="checkbox">1000 <span>(342)</span></label></div>
				<div class="checkbox"><label><input type="checkbox">2000 <span>(342)</span></label></div>
				<div class="checkbox"><label><input type="checkbox">5000 <span>(342)</span></label></div>
				<div class="checkbox"><label><input type="checkbox">9000 <span>(342)</span></label></div>
				<button type="submit" class="btn btn-search">Show More</button>
			</div>
		</div>
	</div>

</div>

</form>

<div class="onthemap boxes">
	<div class="boxes-title">
		<span><i class="icon-resize-full"></i></span>
		<h5>On the Map</h5>
	</div>

	<div class="map" id="map2"></div>
</div>
			<div class="twitter boxes">
	<div class="boxes-title">
		<span><i class="icon-twitter"></i></span>
		<h5>Twitter</h5>
	</div>

	<a 
		class="twitter-timeline"
		data-aria-polite="assertive" 
		data-chrome="noheader nofooter noborders transparent noscrollbar" 
		data-link-color="#07a8dc"  
		data-related="twitterapi,twitter" 
		data-theme="light" 
		data-tweet-limit="2" 
		data-widget-id="382601373847527424" 
		href="https://twitter.com/BarackObama" 
		lang="EN"
	>Tweets por @BarackObama</a>
	<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</div>
		</aside>
	</div>
</div>

</section>
<!-- end Content -->

</body>
</html>