<div class="header-bottom">
<div class="container">

<div class="row">
	<div class="col-sm-6">
		<h1>Blog Single Post</h1>
	</div>
	<div class="col-sm-6">
		<ol class="breadcrumb">
			<li><a href="#">Home</a></li>
			<li><a href="#">Pages</a></li><li>Blog Single Post</li>
		</ol>
	</div>
	</div>

</div>
</div>